*.o
*.so
*.a
*.d
config.asm
config.h
doc/avoptions_codec.texi
doc/avoptions_format.texi
doc/config.texi
doc/examples/pc-uninstalled/
doc/ffmpeg-all.1
doc/ffmpeg-all.pod
doc/ffmpeg-bitstream-filters.1
doc/ffmpeg-bitstream-filters.pod
doc/ffmpeg-codecs.1
doc/ffmpeg-codecs.pod
doc/ffmpeg-devices.1
doc/ffmpeg-devices.pod
doc/ffmpeg-filters.1
doc/ffmpeg-filters.pod
doc/ffmpeg-formats.1
doc/ffmpeg-formats.pod
doc/ffmpeg-protocols.1
doc/ffmpeg-protocols.pod
doc/ffmpeg-resampler.1
doc/ffmpeg-resampler.pod
doc/ffmpeg-scaler.1
doc/ffmpeg-scaler.pod
doc/ffmpeg-utils.1
doc/ffmpeg-utils.pod
doc/ffmpeg.1
doc/ffmpeg.pod
doc/ffplay-all.1
doc/ffplay-all.pod
doc/ffplay.1
doc/ffplay.pod
doc/ffprobe-all.1
doc/ffprobe-all.pod
doc/ffprobe.1
doc/ffprobe.pod
doc/libavcodec.3
doc/libavcodec.pod
doc/libavdevice.3
doc/libavdevice.pod
doc/libavfilter.3
doc/libavfilter.pod
doc/libavformat.3
doc/libavformat.pod
doc/libavutil.3
doc/libavutil.pod
doc/libswresample.3
doc/libswresample.pod
doc/libswscale.3
doc/libswscale.pod
doc/print_options
ffbuild/.config
ffbuild/config.fate
ffbuild/config.log
ffbuild/config.mak
ffbuild/config.sh
ffmpeg
ffmpeg_g
ffplay
ffplay_g
ffprobe
ffprobe_g
libavcodec/bsf_list.c
libavcodec/codec_list.c
libavcodec/libavcodec.pc
libavcodec/libavcodec.so.58
libavcodec/libavcodec.ver
libavcodec/libavcodec.version
libavcodec/parser_list.c
libavdevice/indev_list.c
libavdevice/libavdevice.pc
libavdevice/libavdevice.so.58
libavdevice/libavdevice.ver
libavdevice/libavdevice.version
libavdevice/outdev_list.c
libavfilter/filter_list.c
libavfilter/libavfilter.pc
libavfilter/libavfilter.so.7
libavfilter/libavfilter.ver
libavfilter/libavfilter.version
libavformat/demuxer_list.c
libavformat/libavformat.pc
libavformat/libavformat.so.58
libavformat/libavformat.ver
libavformat/libavformat.version
libavformat/muxer_list.c
libavformat/protocol_list.c
libavutil/avconfig.h
libavutil/ffversion.h
libavutil/libavutil.pc
libavutil/libavutil.so.56
libavutil/libavutil.ver
libavutil/libavutil.version
libmymatcher_opencv3-3.zip
libswresample/libswresample.pc
libswresample/libswresample.so.3
libswresample/libswresample.ver
libswresample/libswresample.version
libswscale/libswscale.pc
libswscale/libswscale.so.5
libswscale/libswscale.ver
libswscale/libswscale.version
